<!DOCTYPE html>
  <head>
     <title>Vue For Beginners</title>
     <link rel="stylesheet" href="./css/style.css">
     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   </head>
  <body>
      <div id="wrapper">
         <!-- Page Header -->
         <div class="header-section">
            <header>
               <nav>
                  <a href="#" class="logo"><img src="images/logo.png" alt="SDB 2023"></a>
                  <ul v-for="(item, index) in headerItems">
                     <li><a v-bind:href="item.link" :key="index"> {{ item.name }} </a></li>
                  </ul>
               </nav>
            </header>
         </div>

         <!-- Page Section Form -->
         <div class="form-section">
            <h2>{{formTitle}}</h2>
            <form @submit.prevent="saveData" class="my-form">
               <div class="input-form">
                  <div>
                     <input type="text" required v-model="registration.first_name" id="fname" name="fname" placeholder="First Name">
                     <input type="tel" required v-model="registration.phone_number"id="phone" name="phone" placeholder="+233 55 753 2439">
                     <input type="date" required v-model="registration.date_of_birth"id="date" name="date" placeholder="Date of Birth">
                  </div>
                  <div>
                     <input type="text" required v-model="registration.last_name"id="lname" name="lname" placeholder="Last Name">
                     <input type="email" required v-model="registration.email"id="email" name="email" placeholder="Your Email">
                     <input type="text" required v-model="registration.location"id="location" name="location" placeholder="Location">
                  </div>
               </div>
               <div class="bio-input">
                  <textarea name="comment" v-model="registration.biography" id="biography" cols="40" rows="5"></textarea>
               </div>
               <div style="border: 1px solid grey; border-radius: 20px;height:auto; margin:9px;padding: 5px;display: none;">
                  <h3>First Name: {{registration.first_name}}</h3>
                  <h3>Last Name: {{registration.last_name}}</h3>
                  <h3>Phone Number: {{registration.phone_number}}</h3>
                  <h3>Date of birth: {{registration.date_of_birth}}</h3>
                  <h3>Email Address: {{registration.email}}</h3>
                  <h3>Location: {{registration.location}}</h3>
                  <h3>Biography</h3>
                  <p>
                     {{registration.biography}}
                  </p>

               </div>
               <div class="button-class">
                  <input @click="clearField()" type="button" class="btn" value="Clear" >
                  <input type="submit" class="btn" :value="submitTitle">
               </div>
            </form>
         </div>
         
         <!-- Page Section Table -->
         <div class="table-section">
            <h2>LIST OF ALL APPLICANTS</h2>
            <Card class="card">
               <table>
                  <thead>
                     <tr>
                        <th>Id</th>
                        <th>First Name </th>
                        <th>Last Name</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Date of birth</th>
                        <th>Location</th>
                        <th>Biography</th>
                        <th>Actions</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr v-for="(student, index) in allStudents" :key="index">
                        <td>{{ student.id }}</td>
                        <td>{{ student.first_name }}</td>
                        <td>{{ student.last_name }}</td>
                        <td>{{ student.phone_number }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.date_of_birth }}</td>
                        <td>{{ student.location }}</td>
                        <td>{{ student.biography }}</td>
                        <td>
                           <span @click.prevent="editData(student)" class="editButton">Edit</span>
                           <span class="deleteButton">Delete</span>
                        </td>
                     </tr>
                  </tbody>
                 
               </table>
            </Card>
         </div>

         <!-- Body Section Footer -->
         <div class="footer-section">
            <div class="footer-links">
               <div class="social-icons">
                  <ul>
                     <a href="https://www.facebook.com/maximnyansa/" target="_blank"></a>
                     <a href="https://twitter.com/MaximNyansa" target="_blank"></a>
                     <a href="https://www.linkedin.com/company/maxim-nyansa-it-solutions/" target="_blank"></a>
                  </ul>
               </div>
               <div class="products">
                  <h4>Maxim Products</h4>
                  <ul>
                     <a href="https://web.trinitysoftwarecenter.com/" target="_blank">Trinity Software Center</a>
                     <a href="https://skuuni.com/" target="_blank">Skuuni</a>
                     <a href="https://library.maximnyansa.com" target="_blank">Maxim Digital Library</a>
                  </ul>
               </div>
            </div>
         </div>
      </div>

      <script>
         const { createApp } = Vue

         createApp({
            //data
            data(){
               return{
                  // message: "Welcome to Vue!",
                  // formTitle: "Maxim Registration Form",
                  editing: false,
                  
                  headerItems: [
                     {
                        link: "index.html",
                        name: "Home"
                     },
                     {
                        link: "contact.html",
                        name: "Contact"
                     },
                     {
                        link: "about.html",
                        name: "About"
                     },
                     {
                        link: "products.html",
                        name: "Products"
                     },
                     {
                        link: "support.html",
                        name: "Support"
                     },
                  ],

                  registration:{
                     id:"",
                     first_name: "",
                     last_name:"",
                     phone_number: "",
                     date_of_birth: "",
                     email: "",
                     date_of_birth: "",
                     location: "",
                     biography: ""
                  },
                  listOfStudents: [],
                  allStudents: []
               }
            },

            // start created
            created(){
               this.fetchData()
            },

            // computed data
            computed: {
               formTitle(){
                  return this.editing ? "Edit Student Record" : "Add Student Record"
               },
               submitTitle(){
                  return this.editing ? "Update" : "Save"
               }
            },

            // methods
            methods: {
               saveData(){
                  let oldStudents = localStorage.getItem("students")
                  let parseOldData = JSON.parse(oldStudents)

                  //set new student object
                  let student = {
                     id: this.editing ? this.registration.id : parseOldData ? parseOldData.length + 1 : 1,
                     first_name: this.registration.first_name,
                     last_name: this.registration.last_name,
                     phone_number: this.registration.phone_number,
                     email: this.registration.email,
                     date_of_birth: this.registration.date_of_birth,
                     location: this.registration.location,
                     biography: this.registration.biography,
                  }
                  
                  if(this.editing == true){
                     let index = parseOldData.findIndex((item) => item.id == student.id)
                     // parseOldData[index] = student
                     // this.listOfStudents = [...parseOldData[index], parseOldData[index] = student]

                     parseOldData[index].first_name = student.first_name
                     parseOldData[index].last_name = student.last_name
                     parseOldData[index].phone_number = student.phone_number
                     parseOldData[index].email = student.email
                     parseOldData[index].date_of_birth = student.date_of_birth
                     parseOldData[index].location = student.location
                     parseOldData[index].biography = student.biography

                     this.listOfStudents = parseOldData

                     localStorage.setItem("students", JSON.stringify(this.listOfStudents))
                     let students = localStorage.getItem("students")
                     this.allStudents = JSON.parse(students)

                  }else{
                     this.listOfStudents = parseOldData ? [student, ...parseOldData] : [student]
                     localStorage.setItem("students", JSON.stringify(this.listOfStudents))
                     let students = localStorage.getItem("students")
                     this.allStudents = JSON.parse(students)
                  }
                  
                  this.clearField();
               },
               
               clearField(){
                  Object.keys(this.registration).forEach(key => {
                     this.registration[key] = ""
                  })
                  this.editing = false     
               },

               fetchData(){
                  let students = localStorage.getItem("students")
                  this.allStudents = JSON.parse(students)
               },

               editData(student){
                  Object.keys(this.registration).forEach(key => {
                     this.registration[key] = student[key]
                  })

                  this.editing = true
               }
            }
            
         }).mount("#wrapper")
      </script>
   </body>
</html>
