*{
    box-sizing: border-box;
}
body{
    font-family: 'Sono';
}
section.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background: linear-gradient(
        to right,
        #D4D4D4 0%,
        #D4D4D4 70%,
        bisque 70%,
        bisque 100%
    )
}
.top-left{
    width: 40%;
    padding: 10px 50px;
    /* background-color: bisque; */
}
.top-left h1{
    font-size: 100px;
    text-decoration: underline;
    color: teal;
}
.top-right{
    width: 60%;
    padding: 10px 50px;
}
.top-right img{
    width: 100%;
    border-radius: 50px;
    border-radius: 50px;

    border-radius: 56px;
    background: #FFE4C4;
    box-shadow:  5px 5px 9px #d1bba1,
    -5px -5px 9px #ffffe7;
    animation: updown 5s infinite;
}
@keyframes updown {
    from {top: 0px;}
    to {top: 200px;}
}

/* Aside middle */
section.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 0 50px;
    background: linear-gradient(
        to right,
        #D4D4D4 0%,
        #D4D4D4 70%,
        bisque 70%,
        bisque 100%
    );
    /* border: 1px solid; */
    /* margin-bottom: 50px; */
}
aside{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.middle-left{
    width: 70%;
}
.middle-left .social-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.middle-left h3{
    font-size: 30px;
    color: teal;
}
.middle-left h3 li:hover{
    text-decoration: underline;
    color: teal;
}
.middle-left .social{
    width: 15%;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: #D4D4D4;
    box-shadow:  22px 22px 44px #acacac,
    -22px -22px 44px #ffffff;
}
.middle-left .social img{
    width: 100%;
}


.middle-left div{ margin-bottom: 50px;}
.middle-right{
    width: 30%;
    text-align: center;
}
.middle-right img{
    width: 50%;
}

.middle-right div{ margin-bottom: 50px;}
.middle-right div:nth-child(3){ background-color: #FFF;}


